aniso8601==1.0.0
Flask-JSON==0.3.2
Flask==0.12.1
gunicorn==19.6.0
Jinja2==2.10
six==1.9.0
Werkzeug==0.13
flask-sqlalchemy
psycopg2-binary

# 소정
beautifulsoup4==4.6.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
Cython==0.29.23
et-xmlfile==1.1.0
gensim==3.8.1
idna==3.3
joblib==1.1.0
# 아래 패키지는 설치파일로 다운 받아야 함
# JPype1 @ file:///G:/%EB%82%B4%20%EB%93%9C%EB%9D%BC%EC%9D%B4%EB%B8%8C/%EC%BD%94%EB%94%A9/coding_world/playground/python/JPype1-1.1.2-cp38-cp38-win_amd64.whl
konlpy==0.5.2
lxml==4.6.4
nltk==3.6.5
numpy==1.21.3
oauthlib==3.1.1
openpyxl==3.0.9
pandas==1.3.4
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
regex==2021.11.2
requests==2.26.0
requests-oauthlib==1.3.0
scipy==1.7.1
six==1.16.0
smart-open==5.2.1
tqdm==4.62.3
tweepy==3.10.0
urllib3==1.26.7

#지원
bs4==0.0.1
chromedriver-autoinstaller==0.2.2
selenium==4.0.0
