aniso8601==1.0.0
Flask-JSON==0.3.2
Flask==0.12.1
gunicorn==19.6.0
Jinja2==2.10
Werkzeug==0.13

beautifulsoup4==4.6.0
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
colorama==0.4.4
et-xmlfile==1.1.0
Flask-SQLAlchemy==2.5.1
gensim==3.8.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
joblib==1.1.0
JPype1==1.3.0
# JPype1은 git에 올린 파일로 설치해주세요. (python 버전 주의)
# python -m pip install [JPype1 파일명]
# requirements.txt로 한 번에 패키지 설치할 때는 주석 지우고 설치해주세요.
# JPype1 @ file:///C:/Users/lsj82/OneDrive/%EB%B0%94%ED%83%95%20%ED%99%94%EB%A9%B4/codingworld/project/2021-2-OSSP1-NotifyService-1/JPype1-1.1.2-cp38-cp38-win_amd64.whl
konlpy==0.5.2
lxml==4.6.4
MarkupSafe==2.0.1
nltk==3.6.5
numpy==1.21.4
oauthlib==3.1.1
openpyxl==3.0.9
pandas==1.3.4
psycopg2-binary==2.9.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
scipy==1.7.3
six==1.16.0
smart-open==5.2.1
SQLAlchemy==1.4.27
tqdm==4.62.3
tweepy==3.10.0
urllib3==1.26.7
selenium==4.0.0
chromedriver-autoinstaller==0.2.2